html {
  font-size: 16px;
  background: hsl(220,15%, 20%);
}
.searchForm {
  background: hsl(220,15%, 10%);
  text-align:center;
  padding: 30px;
}
.searchContainer {
  display: inline-block;
  background: hsl(0,0%,100%);
  font-size: 2rem;
  padding: 15px 40px;
  border-radius: 35px;
}
.searchContainer button, .randomLink {
  border:none;
  background:unset;
  display:inline-block;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  padding: 0;
  cursor: pointer;
}
button:hover, .randomLink:hover {
  color: hsl(0,0%, 15%);
}
.randomLink {
  color: unset;
  line-height: 40px;
  position: relative;
  top: 2px;
}
input#wikiSearch {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid hsl(0,0%,45%);
  margin-right:20px;
}
.results {
  margin: 0 auto;
  width: 80%;
}
.wikiResult {
  text-decoration: none;
}
.wikiResult h3 {
  color: black;
}
.wikiResult p {
  color: white;
}
.wikiResult .wrapper {
  background-color: hsl(20,50%,50%);
  padding: 20px;
  margin: 5px auto;
  width: 80%;
}
.wikiResult:hover .wrapper {
    background-color: hsl(20,50%,60%);
}